body {
 background-image: url(Images/image_fond_ecran.png);
}

header {
 margin-right: 140px;
 margin-left: 140px;
 background-color: beige;
 display: flex;
 justify-content: center;
 align-items: center;
 border-style: solid;
 border-color: black;
 border-width: 5px;
 border-radius: 25px;

}

.title {
 font-size: 100px;
 font-style: italic;
 text-decoration-line: underline;
 text-decoration-style: double;
 text-decoration-thickness: 5px;
}

.logo {
 position: absolute;
 left: 30px;
 top: 35px;

}

.img_logo {
 height: 80px;
 width: 80px;
 border-style: solid;
 border-color: transparent;
 border-width: 1px;
 border-radius: 50%;
}

.carousel {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 20px;
}

.img_carousel {
 width: 437,5px;
 height: 290px;
 border-style: solid;
 border-color: black;
 border-width: 3px;
 border-radius: 50px;

}

.btn_before, .btn_after {
 font-size: 50px;
 background-color: transparent;
 border-style: solid;
 border-color: black;
 border-width: 3px;
 border-radius: 50%;
 cursor: pointer;
 margin-right: 10px;
 margin-left: 10px;
}

.container_download {
 display: flex;
 justify-content: center;
 align-items: center;
}

.btn_download {
 background-color: rgb(251, 217, 148);
 font-size: 30px;
 border-style: solid;
 border-color: black;
 border-width: 1px;
 border-radius: 5px;
 cursor: pointer;
}

.description {
 color: white;
 font-size: 20px;
 background-color: rgba(178, 34, 34);
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 margin-top: 20px;
 margin-left: 500px;
 margin-right: 500px;
 border-style: solid;
 border-color: black;
 border-width: 1px;
 border-radius: 25px;
}

.required_setups {
 color: white;
 font-size: 20px;
 background-color: rgba(178, 34, 34);
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 margin-top: 20px;
 margin-left: 500px;
 margin-right: 500px;
 border-style: solid;
 border-color: black;
 border-width: 1px;
 border-radius: 25px;
}

.user_conditions {
 font-size: 20px;
 background-color: rgb(178, 34, 34);
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 5px;
 margin-top: 20px;
 margin-left: 600px;
 margin-right: 600px;
 margin-bottom: 50px;
 border-style: solid;
 border-color: black;
 border-width: 1px;
 border-radius: 25px;
}